body {
  margin: 0;
  height: 100vh;         /* Makes the body span the full height of the viewport */
  display: flex;         /* Enables Flexbox layout */
  justify-content: center; /* Centers content horizontally */
  align-items: center;     /* Centers content vertically */
  flex-direction: column;
  background-color: #002FA7;
}
#submit-form {
  outline: 25px solid #90EE90;
}
#secret-key {
background-color: #90EE90;
  
}
